<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.attaparunever2.admin.system.AdminSystemMapper">
    <select id="selSystemPostComment">
        SELECT inquiry_comment_id AS inquiryCommentId, admin_id AS adminId
        , inquiry_id AS inquiryId, comment_detail AS commentDetail
        , created_at AS createdAt, updated_at AS updatedAt
        FROM system_post_comment
        WHERE inquiry_id = #{inquiryId}
    </select>

</mapper>